.keyboard {
  display: flex;
  position: relative;
  height: 200px;
}

.key {
  border: 1px solid #333;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 10px;
  padding: 4px;
  user-select: none;
}

.white {
  width: 40px;
  background: white;
  z-index: 1;
}

.black {
  width: 28px;
  height: 120px;
  background: black;
  color: white;
  position: relative;
  margin-left: -14px;
  margin-right: -14px;
  z-index: 2;
}

.active.white {
  background: #ff5f5f;
}

.active.black {
  background: #ff2f2f;
}
